body {
	margin: 0;
	border: 0;
	background: black;
	text-align: center;

}

#title {
	margin: 0;
	text-align: center;
}

.main {
	color: #fff;
}
.point {
	display: inline-block;
	color: #fff;
	border: 0;
	margin: 0; 
}
#fundoX {
	background-color: #4F4F4F;
	border-radius: 0.8rem;
}
#fundoE {
	background-color: #4F4F4F;
	border-radius: 0.8rem;
	margin-top: -1rem;
}
#fundoO {
	background-color: #4F4F4F;
	border-radius: 0.8rem;
	margin-top: -1rem;
}
#scoreX {
	margin-right: 30px;
	color: #00BFFF;
}
#scoreO {
	margin-right: 30px;
	color: #FF0000;
}
#scoreE {
	margin-right: 30px;
	color: #00FF00;
}

.board {
	border: 0;
	margin: auto;
	margin-top: -1rem;
}

b {
	color: #fff;
	font-size: 1.5rem;
	margin-left: 31px;
}
#checkCpu {
	margin: auto;
}

button {
	margin: 0;
    border: 0;
    display: inline-flex;
    font-size: x-large;
    border-radius: 0.5rem;
}
.modal-overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: fixed;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	z-index: 999;
}
.modal-overlay.active {
	opacity: 1;
	visibility: visible;
}
.modal {
	background: #f0f2f5;
	padding: 2.4rem;
	border-radius: 0.25rem;
	position: relative;
	z-index: 1;
}
.buttonSairModal {
	background-color: green;
    color: var(--red);
    font-size: 2rem;
    border: 2px var(--red) solid;
    border-radius: -0.75rem;
    height: 40px;
    display: inline;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    cursor: pointer;
}

.buttonSairModal:hover {
	opacity: 1;
}

.modal-empate {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: fixed;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	z-index: 999;
}
.modal-empate.active {
	opacity: 1;
	visibility: visible;
}
.options {
	border: 0;
	margin: 0;
	font-variant: all-petite-caps;
	margin-left: -28px;
	margin-top: -9px;
}